@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");

body {
    font-family: "Silkscreen";

    background: #f5f7fc;
    background-image: radial-gradient(#85a2e3 1px, transparent 0);
    background-size: 35px 35px;

    color: #3e69ca;
}

#background {
    backdrop-filter: blur(5px);

    box-shadow: 0 0 4px #85a2e3;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;

    border-radius: 2px;
}

#container {
    font-size: 25px;

    width: 800px;
    margin-top: 70px;
}

#content {
    padding: 5px 10px;
}

.option.animate {
    display: flex;
    justify-content: space-between;
    align-items: center;

    opacity: 0%;
    filter: blur(10px);
    transform: scaleX(50%) scaleY(125%) rotateX(90deg);
    scale: 50%;
}

.option.hide {
    transition: all 0.35s;
    opacity: 0;
    transform: rotateX(45deg);
    filter: blur(5px);
}

.option.input input {
    font-family: inherit;
    font-size: 20px;

    border: none;
    border-radius: 5px;

    padding: 2px;

    border: #85a2e3 1px solid;
    background-color: #85a2e350;
    color: inherit;

    outline: none;
    transition: all 250ms;
}

.option.input input:focus {
    background-color: #85a2e325;
}

.option {
    transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);

    transform: none;
    opacity: 100%;
    scale: 100%;
    filter: blur(0px);
}