body {
    background: #e5dfef;
    background-image: radial-gradient(rgb(50, 50, 50) 1px, transparent 0);
    background-size: 35px 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
}

#content {
    padding: 5px 10px;

    font-family: "Indie Flower";
    font-size: 25px;

    background-color: rgba(120, 120, 120, .25);
    backdrop-filter: blur(10px);

    box-shadow: 2px 2px 4px rgba(0, 0, 0, .267);

    width: 800px;
    margin-top: 70px;
    transition: height .75s;

    height: 40px;
}

@media (max-width: 880px) {
    #content {
        width: calc(100% - 80px);
    }
}

.options {
    margin-top: 20px;
}

.option.animate {
    display: flex;
    justify-content: space-between;
    align-items: center;

    opacity: 0%;
    filter: blur(10px);
    transform: scaleX(50%) scaleY(125%) rotateX(90deg);
    scale: 50%;
}

.option {
    transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    transition-delay: 0.5s;

    transform: none;
    opacity: 100%;
    scale: 100%;
    filter: blur(0px);
}

.option.show {
    transition-delay: 0s;
    cursor: pointer;
    transform: translateX(0px);

}

.option.show:hover {
    transform: translateX(5px);
}